.satu{
    width: 530px;
    height: 547,5px;
    position: relative;
}

.container{
    margin-left: 32px;
    align-content: center;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
    float: center;
}

body{
    background-color: salmon;
}